openapi: 3.0.1
info:
  title: Keap REST API
  termsOfService: https://keap.com/legal
  contact:
    name: Keap
    url: https://developer.keap.com/get-support/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: An API for interacting with Keap
  version: 2.70.0.407641
servers:
  - url: https://api.infusionsoft.com/crm/rest
tags:
  - name: Note
    description: Notes-V2-Endpoint
  - name: Batch
    description: Batch-V2-Endpoint
  - name: Locale
    description: Locale-V2-Endpoint
  - name: Users
    description: Rest User Controller
  - name: Referral
    description: Referrals-V2-Endpoint
  - name: Lead Sources
    description: Lead-Sources-V2-Endpoint
  - name: Contact
    description: Contacts-V2-Endpoint
  - name: Task
    description: Tasks-V2-Endpoint
  - name: Tags
    description: Tags-V2-Endpoint
  - name: Company
    description: Company-V2-Endpoint
paths:
  /v2/batches/{batch_id}:
    $ref: paths\v2@batches@{batch_id}.yaml
  /v2/companies:
    $ref: paths\v2@companies.yaml
  /v2/companies/{company_id}:
    $ref: paths\v2@companies@{company_id}.yaml
  /v2/contacts:
    $ref: paths\v2@contacts.yaml
  /v2/contacts/batch:
    $ref: paths\v2@contacts@batch.yaml
  /v2/contacts/links/types:
    $ref: paths\v2@contacts@links@types.yaml
  /v2/contacts/{contact_id}:
    $ref: paths\v2@contacts@{contact_id}.yaml
  /v2/contacts/{contact_id}/links:
    $ref: paths\v2@contacts@{contact_id}@links.yaml
  /v2/contacts/{contact_id}/notes:
    $ref: paths\v2@contacts@{contact_id}@notes.yaml
  /v2/contacts/{contact_id}/notes/{note_id}:
    $ref: paths\v2@contacts@{contact_id}@notes@{note_id}.yaml
  /v2/contacts:link:
    $ref: paths\v2@contacts@link.yaml
  /v2/contacts:unlink:
    $ref: paths\v2@contacts@unlink.yaml
  /v2/leadsources:
    $ref: paths\v2@leadsources.yaml
  /v2/locales/countries:
    $ref: paths\v2@locales@countries.yaml
  /v2/locales/countries/{country_code}/provinces:
    $ref: paths\v2@locales@countries@{country_code}@provinces.yaml
  /v2/oauth/connect/userinfo:
    $ref: paths\v2@oauth@connect@userinfo.yaml
  /v2/referrals:
    $ref: paths\v2@referrals.yaml
  /v2/tags:
    $ref: paths\v2@tags.yaml
  /v2/tag-category:
    $ref: paths\v2@tag-category.yaml
  /v2/tag-category/{tag_id}:
    $ref: paths\v2@tag-category@{tag_id}.yaml
  /v2/tags/{tag_id}:
    $ref: paths\v2@tags@{tag_id}.yaml
  /v2/tags/{tag_id}/companies:
    $ref: paths\v2@tags@{tag_id}@companies.yaml
  /v2/tags/{tag_id}/contacts:
    $ref: paths\v2@tags@{tag_id}@contacts.yaml
  /v2/tags/{tag_id}/contacts:applyTags:
    $ref: paths\v2@tags@{tag_id}@contacts@applyTags.yaml
  /v2/tags/{tag_id}/contacts:removeTags:
    $ref: paths\v2@tags@{tag_id}@contacts@removeTags.yaml
  /v2/tasks:
    $ref: paths\v2@tasks.yaml
  /v2/tasks/model:
    $ref: paths\v2@tasks@model.yaml
  /v2/tasks/model/customFields:
    $ref: paths\v2@tasks@model@customFields.yaml
  /v2/tasks/{task_id}:
    $ref: paths\v2@tasks@{task_id}.yaml
  /v2/users:
    $ref: paths\v2@users.yaml
  /v2/users/{user_id}:
    $ref: paths\v2@users@{user_id}.yaml
  /v2/users/{user_id}/signature:
    $ref: paths\v2@users@{user_id}@signature.yaml
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.infusionsoft.com/app/oauth/authorize
          tokenUrl: https://api.infusionsoft.com/token
          scopes: {}
